#saber{
    width: 100%;
}

h1{
    color: blue;
    text-align: center;
    font-size: 30px;
}

p{
    color: brown;
}

#hexa{
    color: #8a8a8a;
}

#enfatizar{
    font-size: 25px;
    background-color: chartreuse;
}

#um{
    background-color: darkorange;
}

.dois{
    background-color: gold;
}